<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>
<%= form_with url: posts_path, method: :get do |form| %>
  <%= form.text_field :query_text, placeholder: ('Busqueda'), value: params[:query_text] %>
<% end %>

    <section id="posts" class="container text-center mt-4 mb-0 mb-md-5 pb-2 pb-md-5 px-4">
        <h2 class="cards font-weight-bold mb-5"></h2>
        <% @posts.each do |post| %>
          <div class="row row-cols-1 row-cols-md-2">
              <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body text-left">
                            <h5 class="card-title font-weight-bold"></h5>
                              <p class="card-text"> 
                                <%= render post %>
                              </p>
                              <p>
                                <%= link_to "Show this post", post %>
                              </p>
                        </div>
                    </div>
              </div>
          </div>
        <% end %>
    </section>
<br><br>
  <%= raw pagy_bootstrap_nav(@pagy) %>
<br><br>
<%= link_to "New post", new_post_path %>
